html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    div.container
      div.jumbotron
        h1 안녕!
          p 어서와, 여긴 처음이지?
          p
            a.btn.btn-primary(href="/baboya") 지수바보?
